* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  font-family: 'Nunito Sans', sans-serif;
  font-family: 'Public Sans', sans-serif;
  user-select: none;
}

nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  gap: 20px;
  background-color: white;
  margin-bottom: 1rem;
  box-shadow: rgba(129, 136, 143, 0.2) 0px 8px 24px;
  ;
}

.nav-item:nth-child(1) {
  margin-left: 2.5vw;
  font-size: 1.4rem;
  font-weight: bolder;
}

.nav-item:nth-child(2) {
  margin-right: 3vw;

}

.dark {
  background-color: rgb(43, 57, 69);
  color: white;
}